@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Jim+Nightshade&family=Lovers+Quarrel&family=Merienda:wght@300..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Petit+Formal+Script&family=Playwrite+NZ+Basic:wght@100..400&family=Protest+Guerrilla&display=swap');

:root{
    --color-1: #30364F;
    --color-2: #ACBAC4;
    --color-3: #E1D9BC;
    --color-4: #F0F0DB;
}
body {
    color: var(--color-4);
    background-color: var(--color-1);
}

h1 {
    font-family: "Ballet", cursive;
  color: var(--color-3);
}


p {
    font-family: 'Montserrat Alternates', sans-serif;
    color: var(--color-3);
}